﻿h1 {
    color: #3266b1;
}

li.gloss {
    color: #3266b1;
    font-size: large;
}

    li.gloss:hover {
        color: #4cff00;
    }

#avalesPuntos {
    background: #3266b1;
}

    #avalesPuntos h1 {
        color: #ffffff;
        font-weight: bold;
        padding-left: 1em;
    }

    #avalesPuntos h2 {
        color: #fff;
        font-style: italic;
        font-weight: bold;
        padding-top: 0.5em;
        padding-bottom: 0.2em;
    }

#divAvales h1 {
    font-weight: bold;
}

.iconBanner {
    /*padding-left: 1em;*/
}

#divAvales {
    padding-top: 2em;
}

    #divAvales h1 {
        padding-left: 1em;
    }