﻿html {
    background-color: white;
    background: url(../images/fondos/fondointerior3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    color: #797979;
}

body {
    background-color: transparent;
}

#bg {
    background-image: url(../images/fondos/plecaBlanca.png);
    background-size: 100% 100%;
}

#texto-reglas {
    font-size: 18px;
}

@media only screen and (min-width : 320px) {
    #texto-reglas {
        margin-top: 0em;
        padding-top: 3em;
        line-height: 2em;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #texto-reglas {
        margin-top: 0em;
        padding-top: 2em;
        line-height: 2em;
    }
}

b {
    color: #0066b2;
}
