﻿.font-600 {
    font-size: x-large;
}

.iconos-contenido {
    font-size: 1.2em !important;
}

.card-box {
    padding: 0em;
    min-height: 100px;
}

.imagen-modulo {
    max-width: 276px;
}

.m-b-10 {
    margin-bottom: 0px !important;
}

#statusGeneral {
    height: 40px;
}

.thumb {
    color: #797979;
    padding-top: 0px;
}

.progress {
    border-radius: 0px;
    height: 30px;
}

.iconosCardbox {
    /*color: #3266b1;*/
}

.progress-bar {
    box-shadow: none;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
}

.grad {
    background: #008bff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008bff, #003d90); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008bff, #003d90); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008bff, #003d90); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008bff, #003d90); /* Standard syntax */
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0px 5px 5px #888888;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

    .grad h2 {
        color: white;
        font-weight: bold;
    }

.progress > .text-center {
    min-height:65px;
}
small,.small {
    font-size: 75%;
}



@media only screen and (max-width : 320px) and (min-width : 50px) {
.responsive-height {
     min-height:509px
}

}

@media only screen and (max-width : 449px) and (min-width : 321px){           
.responsive-height {
     min-height:509px
}
}

@media only screen and (max-width : 524px) and (min-width : 450px) {
.responsive-height {
     min-height:509px
}
}

@media only screen and (max-width : 588px) and (min-width : 525px) {
.responsive-height {
     min-height:509px
}
}

@media only screen and (max-width : 696px) and (min-width : 589px) {
.responsive-height {
     min-height:509px
}
}

@media only screen and (max-width : 767px) and (min-width : 697px) {    
.responsive-height {
     min-height:509px
}
}

@media only screen and (max-width : 891px) and (min-width : 768px) {
.responsive-height {
     min-height:509px
}
}

@media only screen and (max-width : 917px) and (min-width : 892px) {
.responsive-height {
     min-height:509px
}
}

@media only screen and (max-width : 991px) and (min-width : 917px) {
.responsive-height {
     min-height:509px
}
}

@media only screen and (max-width : 1153px) and (min-width : 992px) {
.responsive-height {
     min-height:441px
}
}

@media only screen and (max-width : 1308px) and (min-width : 1154px) {
.responsive-height {
     min-height:441px
}
}

@media only screen and (max-width : 1499px) and (min-width : 1309px) {
.responsive-height {
    min-height:446px
}
}@media only screen and (max-width : 1750px) and (min-width : 1500px) {
.responsive-height {
    min-height:506px
}
}@media only screen and (max-width : 1909px) and (min-width : 1751px) {
.responsive-height {
    min-height:544px
}
}

@media only screen and (min-width : 1910px) {
    .responsive-height {
    min-height:544px
}       
}