﻿.video_098_control_button .carousel-control {
    height: 135px;
    top: 25%;
}

.video_098_vimeo {
    width: 100%;
}

.js_frm_signup {
    top: 11.3%;
    width: 26%;
    z-index: 10;
    left: 70%;
}

#video_098 {
    padding: 0px !important;
}

    #video_098 > .carousel-inner {
        width: 100%;
    }

.video_carousel_caption_text h1, .video_carousel_caption_text p {
    background: transparent !important;
    font-family: Karla, sans-serif;
    color: #fdfdfd !important;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .video_098_thumbnails > .carousel-indicators {
        top: 59%;
    }

    #video_098 > .carousel-inner {
        height: 254px;
    }

    .video_carousel_caption_text h1, .video_carousel_caption_text p {
        font-size: 20px;
    }

    .carousel-inner {
        min-height: 300px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .video_098_thumbnails > .carousel-indicators {
        top: 77%;
    }

    #video_098 > .carousel-inner {
        height: 500px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .video_098_thumbnails > .carousel-indicators {
        top: 77%;
    }

    #video_098 > .carousel-inner {
        height: 500px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .video_098_thumbnails > .carousel-indicators {
        top: 77%;
    }

    #video_098 > .carousel-inner {
        height: 500px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .video_098_thumbnails > .carousel-indicators {
        top: 77%;
    }

    #video_098 > .carousel-inner {
        height: 500px;
    }


    .js_frm_signup_white {
        background: #d6d6d6;
        opacity: 0.9;
    }

    .video_098_thumbnails > .carousel-indicators {
        background-color: red;
        width: 100%;
        background-color: gray;
        opacity: .7;
        height: 118px;
    }

    .carousel-indicators > li > span {
        height: 140px;
    }

    .btn {
        font-size: 12px;
    }

    .video_098_vimeo {
        height: 555px;
    }

    .carousel-indicators.carousel-indicators--thumbnails li {
        width: 80px;
        height: 40px;
        margin: 0;
        border: none;
        border-radius: 0;
    }

    .carousel-indicators.carousel-indicators--thumbnails .active {
        background-color: transparent;
    }

        .carousel-indicators.carousel-indicators--thumbnails .active .thumbnail {
            border-color: #337ab7;
        }

    .video_carousel_caption_text h1, .video_carousel_caption_text p {
        background: transparent !important;
        font-family: Karla, sans-serif;
        color: #fdfdfd !important;
    }

    .video_carousel_colored_button,
    .video_carousel_colored_button:visited {
        color: #ffffff;
        background: transparent !important;
        border: 2px solid #fdfdfd !important;
        border-radius: 8px !important;
    }

        .video_carousel_colored_button:hover,
        .video_carousel_colored_button:active,
        .video_carousel_colored_button:focus {
            color: #ffffff !important;
            background: transparent !important;
        }

        .video_carousel_colored_button:before {
            background: #1abc9c;
        }


    .img-banner {
        width: 100%;
    }

    .carousel-control span {
        position: absolute;
        top: 1% !important;
    }

    .fa-hand-o-left {
        margin-left: -22px;
    }

    .fa-hand-o-right {
        margin-left: -12px;
    }

    #video_carousel .carousel-indicators {
        visibility: hidden;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #video_carousel:hover .carousel-indicators {
        visibility: visible;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .thumbnail-carousel {
        padding: 0px;
        border: 2px solid #fdfdfd !important;
        -moz-animation-delay: 150ms;
        -webkit-animation-delay: 150ms;
        animation-delay: 150ms;
    }
}
