﻿#bg {
    background: url(../images/fondos/plecaBlanca.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.active {
    visibility: visible !important;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

/*.btn-group-lg > .btn, .btn-lg {*/
.btn-lg-tem {
    padding: 10px 60px !important;
    font-size: 80px;
}


@media only screen and (max-width: 410px) {
    .btn-lg-tem {
        padding: 5px 40px !important;
        font-size: 60px;
    }

    descripcionMerck h2 {
        font-size: 25px;
        line-height: 0.5em;
    }
}

@media only screen and (max-width : 479px) {
    #descripcionMerck b, h2 {
        font-size: 25px;
        line-height: 0.5em;
    }

    .btn-lg-tem {
        padding: 10px 40px !important;
        font-size: 60px;
    }

    .btn-warning-cross {
        background: linear-gradient(45deg, transparent 30px, #f9c851 0) bottom left;
    }

    .btn-primary-cross {
        background: linear-gradient(45deg, transparent 30px, #188ae2 0) bottom left;
    }

    .btn-danger-cross {
        background: linear-gradient(45deg, transparent 30px, #ff5b5b 0) bottom left;
    }

    .btn-success-cross {
        background: linear-gradient(45deg, transparent 30px, #10c469 0) bottom left;
    }
}

.btn-success-cross {
    background: linear-gradient(45deg, transparent 40px, #10c469 0) bottom left;
}

    .btn-success-cross:hover,
    .btn-success-cross:focus,
    .btn-success-cross:active,
    .btn-success-cross.active,
    .btn-success-cross.focus,
    .btn-success-cross:active,
    .btn-success-cross:focus,
    .btn-success-cross:hover,
    .open > .dropdown-toggle.btn-success-cross {
        background: linear-gradient(45deg, transparent 40px, #0eac5c 0) bottom left;
    }


.btn-danger-cross {
    background: linear-gradient(45deg, transparent 40px, #ff5b5b 0) bottom left;
}

    .btn-danger-cross:active,
    .btn-danger-cross:focus,
    .btn-danger-cross:hover,
    .btn-danger-cross.active,
    .btn-danger-cross.focus,
    .btn-danger-cross:active,
    .btn-danger-cross:focus,
    .btn-danger-cross:hover,
    .open > .dropdown-toggle.btn-danger-cross {
        background: linear-gradient(45deg, transparent 40px, #ff4242 0) bottom left;
    }

.btn-warning-cross {
    background: linear-gradient(45deg, transparent 40px, #f9c851 0) bottom left;
}

    .btn-warning-cross:hover,
    .btn-warning-cross:focus,
    .btn-warning-cross:active,
    .btn-warning-cross.active,
    .btn-warning-cross.focus,
    .btn-warning-cross:active,
    .btn-warning-cross:focus,
    .btn-warning-cross:hover,
    .open > .dropdown-toggle.btn-warning-cross {
        background: linear-gradient(45deg, transparent 40px, #f8c038 0) bottom left;
    }

.btn-primary-cross {
    background: linear-gradient(45deg, transparent 40px, #188ae2 0) bottom left;
}

    .btn-primary-cross:hover,
    .btn-primary-cross:focus,
    .btn-primary-cross:active,
    .btn-primary-cross.active,
    .btn-primary-cross.focus,
    .btn-primary-cross:active,
    .btn-primary-cross:focus,
    .btn-primary-cross:hover,
    .open > .dropdown-toggle.btn-primary-cross {
        background: linear-gradient(45deg, transparent 40px, #167ccb 0) bottom left;
    }

.iconosTemario {
    font-size: 2em;
}

.grad {
    background: #008bff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008bff, #003d90); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008bff, #003d90); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008bff, #003d90); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008bff, #003d90); /* Standard syntax */
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0px 5px 5px #888888;
}

    .grad h2 {
        color: white;
        font-weight: bold;
    }

.carousel-control {
    text-align: left;
}

    .carousel-control.right {
        text-align: right !important;
    }

@media only screen and (min-width : 320px) {

    .grad {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

        .grad h1 {
            margin-top: 1em;
            margin-bottom: 1em;
        }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    .grad {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

        .grad h1 {
            margin-top: 1em;
            margin-bottom: 1em;
        }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    #pleca {
        min-height: 110px;
    }

    #descripcionMerck {
        padding-top: 120px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

#logoInicio {
    padding-top: 5em;
    padding-bottom: 2em;
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff 95%, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff 95%, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff 95%, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff 95%, transparent); /* Standard syntax */
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}

#descripcionMerck p {
    font-size: 20px;
}

#descripcionMerck b, h2 {
    color: #3266b1;
}

.content-page .content {
    padding: 0px 5px;
    margin-top: 0px;
}

.sticky {
    position: fixed;
    top: 2px;
    z-index: 1030;
    max-width: 180px;
    left: 20px;
}
