﻿input[type='checkbox'] {
cursor: not-allowed !important;
}

input[type='radio'] {
cursor: not-allowed !important;
}

.onoffswitch-label {
cursor: not-allowed !important;
}

.drop {
cursor: not-allowed !important;
}

.drag {
cursor: not-allowed !important;
}