@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?76cvk9');
  src:  url('fonts/icomoon.eot?76cvk9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?76cvk9') format('truetype'),
    url('fonts/icomoon.woff?76cvk9') format('woff'),
    url('fonts/icomoon.svg?76cvk9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avales:before {
  content: "\e900";
}
.icon-bancoImagenes:before {
  content: "\e901";
}
.icon-bibliografia:before {
  content: "\e902";
}
.icon-chat:before {
  content: "\e903";
}
.icon-cursoscertificacion:before {
  content: "\e904";
}
.icon-eBooks:before {
  content: "\e905";
}
.icon-Elsevier:before {
  content: "\e906";
}
.icon-interactivos:before {
  content: "\e907";
}
.icon-medicinaGeneral:before {
  content: "\e908";
}
.icon-medicinaInterna:before {
  content: "\e909";
}
.icon-odontologia:before {
  content: "\e90a";
}
.icon-ortopedia:before {
  content: "\e90b";
}
.icon-profesores:before {
  content: "\e90c";
}
.icon-revisioDelMes:before {
  content: "\e90d";
}
.icon-videoCirugias:before {
  content: "\e90e";
}
.icon-glosario:before {
  content: "\e90f";
}
.icon-cadera:before {
  content: "\e910";
}
.icon-rodilla:before {
  content: "\e911";
}
.icon-cespeciales:before {
  content: "\e912";
}
.icon-libros .path1:before {
  content: "\e913";
  color: rgb(255, 255, 255);
}
.icon-libros .path2:before {
  content: "\e914";
  margin-left: -1.3740234375em;
  color: rgb(18, 16, 11);
}
.icon-tobillo:before {
  content: "\e915";
}
.icon-columna .path1:before {
  content: "\e916";
  color: rgb(35, 31, 32);
}
.icon-columna .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-columna .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-columna .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-columna .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-columna .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-columna .path7:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-columna .path8:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-columna .path9:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-columna .path10:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(35, 31, 32);
}
.icon-atomo:before {
  content: "\e97a";
}
.icon-escudo:before {
  content: "\e97b";
}
.icon-colum:before {
  content: "\e920";
}
.icon-algos:before {
  content: "\e921";
}
.icon-tpm:before {
  content: "\e922";
}
.icon-vitaminas:before {
  content: "\e923";
}
.icon-vision:before {
  content: "\e924";
}
.icon-mision .path1:before {
  content: "\e925";
  color: rgb(0, 0, 0);
}
.icon-mision .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mision .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mision .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mision .path5:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mision .path6:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mision .path7:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mision .path8:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mision .path9:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

