﻿.num-aviso {
    margin-top: 10px;
}

.adv_range_3_columns_carousel {
    max-height: 120px;
}

.cookie-pop {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

    .cookie-pop img {
        width: 50%;
    }

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

.knockout-around {
    padding-top: 2em;
    padding-bottom: 2em;
}
