﻿html {
    background-color: white;
    background: url(../images/fondos/fondointerior3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    color: #797979;
}

body {
    background-color: transparent;
}
