﻿.continuar-btn {
    position: absolute;
    right: 7px;
    max-height: 9vw;
}

.progress {
    margin-bottom: 0px !important;
    height: 25px;
    margin-top: 33px;
}

.progress-bar {
    box-shadow: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}

.h1-color-success {
    color: #6ed4ff !important;
}

    .h1-color-success:hover {
        background-color: #6ed4ff !important;
        color: white !important;
    }

.h1-color-danger {
    color: #f10031 !important;
}

    .h1-color-danger:hover {
        background-color: #f10031 !important;
        color: white !important;
    }

.h1-color-warning {
    color: #ffc83d !important;
}

    .h1-color-warning:hover {
        background-color: #ffc83d !important;
        color: white !important;
    }

.h1-color-default {
    color: #5290cd !important;
}

    .h1-color-default:hover {
        background-color: #5290cd !important;
        color: white !important;
    }

.continue {
    min-height: 148px;
    background-color: red;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
}

    .continue > a {
        color: white;
    }

.tab-content {
    padding: 0px;
}

.mini-box {
    background-color: #f0f0f0 !important;
    text-align: center;
    border-bottom: 1px solid #3266b1;
}

.popover {
    max-width: 450px;
    width: 450px;
    /*background-color: transparent;*/
}

.popover-content {
    padding: 0px !important;
    /*background-color: transparent;*/
}

.card-box {
    /*min-height: 243px;*/
}

.md-text-color:hover, md-text-color:focus, md-text-color:active {
    background-color: #5290cd !important;
    color: white !important;
}

.nav-tabs > li.active > a.md-text-color {
    background-color: #5290cd !important;
    color: white !important;
}
/**/


.ort-text-color:hover, ort-text-color:focus, ort-text-color:active {
    background-color: #6ed4ff !important;
    color: white !important;
}

.nav-tabs > li.active > a.ort-text-color {
    background-color: #6ed4ff !important;
    color: white !important;
}

/**/
.odon-text-color:hover, odon-text-color:focus, odon-text-color:active {
    background-color: #6ed4ff !important;
    color: white !important;
}

.nav-tabs > li.active > a.odon-text-color {
    background-color: #6ed4ff !important;
    color: white !important;
}

.nav-tabs a {
    font-size: 19px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 767px) {
    .mini-box {
        min-height: 98px;
        min-width: 108px;
    }

    .h4, h4 {
        font-size: 16px;
    }

    .h4 {
        line-height: 1px;
    }

    .menu-merck {
        margin-left: 15px;
    }

    .h2, h2 {
        font-size: 29px;
    }

    .card-box {
        min-height: 110px;
    }

    .flip-container, .front, .back {
        width: 100%;
        height: 100px;
        margin-bottom: 100px;
    }
}

/* Small Devices, Tablets iPad */
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .mini-box {
        min-height: 100px;
    }

    .menu-merck {
        margin-left: 10px;
    }

    .cursos-home {
        min-height: 222px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1799px) {
    .mini-box {
        min-height: 15vh;
    }

    .h4-mini-box {
        line-height: 18px;
        margin: 0px !important;
    }

    .h1-mini-box {
        margin: 0px !important;
    }

    .card-box {
        min-height: 200px;
    }

    .continuar-btn {
        max-height: 180px;
    }

    .progress {
        margin-bottom: 0px !important;
        height: 25px;
        margin-top: 12px;
    }

    .h1-boxes {
        font-size: 44px;
    }

    .h4-boxes {
        font-size: 24px;
    }
}

/* Wide Screen / Carlos R */
@media only screen and (min-width : 1800px) {
    .mini-box {
        min-height: 15vh;
    }

    .h4-mini-box {
        line-height: 18px;
        margin: 10px !important;
    }

    .h1-mini-box {
        margin: 10px !important;
    }

    .cursos-home {
        min-height: 220px;
    }

    .h1-boxes {
        line-height: 75px;
        font-size: 60px;
    }

    .h4-boxes {
        font-size: 30px;
    }
}

.boton-contenido-iphone {
    margin-top: -40px;
    background-color: #e7e7e7 !important;
    background-color: #e7e7e7;
    color: black;
}

.btn-show {
    position: absolute;
    margin-top: -55px;
    left: 37%;
    background-color: rgba(218,230,236,0.9);
    border-color: rgba(218,230,236,0.5);
}

video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

.strong-apollo:hover {
    background-color: #1a6cb0 !important;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

    .strong-apollo:hover h4 {
        color: white !important;
        -moz-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .strong-apollo:hover h1 {
        color: white !important;
        -moz-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

.tabcursos {
    background-color: #ececec !important;
    border-top: 2px solid #dedede;
    border-left: 2px solid #dedede;
    border-right: 2px solid #dedede;
}

.crop-cursos {
    height: 180px;
    overflow: hidden;
}

.rec-img {
    width: 100%;
    margin-top: -230px;
}

.h1-color-success:hover {
    background-color: #6ed4ff !important;
    color: white !important;
}

.h1-color-warning:hover {
    background-color: #ffc83d !important;
    color: white !important;
}

.h1-color-default:hover {
    background-color: #5290cd !important;
    color: white !important;
}

.h1-color-danger:hover {
    background-color: #f10031 !important;
    color: white !important;
}