﻿.grid {
    padding: 0em 0 0em;
}

.h2-rec {
    color: #fff;
    font-size: 27px;
    background: rgba(0,0,0,0.2);
}

.rec-box {
    max-height: 180px !important;
}

figure.effect-julia p {
    -webkit-transform: translate3d(-600px,0,0);
    transform: translate3d(-600px,0,0);
}

figure.effect-honey {
    background: none;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
    background: #4a3753;
}

    figure.effect-honey img {
        opacity: 0.9;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    figure.effect-honey:hover img {
        opacity: 0.5;
    }

    figure.effect-honey figcaption::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: #fff;
        content: '';
        -webkit-transform: translate3d(0,10px,0);
        transform: translate3d(0,10px,0);
    }

    figure.effect-honey h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1em 1.5em;
        width: 100%;
        text-align: left;
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-30px,0);
    }

        figure.effect-honey h2 i {
            font-style: normal;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0,-30px,0);
            transform: translate3d(0,-30px,0);
        }

    figure.effect-honey figcaption::before,
    figure.effect-honey h2 {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }

    figure.effect-honey:hover figcaption::before,
    figure.effect-honey:hover h2,
    figure.effect-honey:hover h2 i {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

figure.effect-honey {
    background: none;
}

figure.effect-julia a {
    background: rgba(255,255,255,0.7);
    display: inline-block;
    margin: 0 0 0.25em;
    padding: 0.4em 1em;
    color: #2f3238;
    text-transform: none;
    font-weight: 500;
    font-size: 75%;
}

figure.effect-julia {
    background: #3266b1;
}

.splat {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.strong-look {
    font-weight: bold !important;
}