﻿menu-navegador {
    font-family: Verdana, Geneva, sans-serif !important;
}

.thumbnail {
    background-image: url(../images/back_journals.jpg);
    background-size: 100% 100%;
}

.flipper {
    margin-bottom: 10px;
}

.img-portada {
    width: 100%;
}
