﻿
#panelLec > h2 {
color: white;
font-weight: 800;
display: inline-block;
}

#panelLec > h3{
color: white;
display: inline-block;
}

.panel-primary {
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.panel-heading {
border-radius: 20px 20px 0px 0px;
-moz-border-radius: 20px 20px 0px 0px;
-webkit-border-radius: 20px 20px 0px 0px;
border: 0px solid #000000;
}

.panel-footer {
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
#mainContainer {
padding: 0px 0px 0px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
#mainContainer {
padding: 47px 48px 0px;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
#mainContainer {
padding: 47px 80px 0px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#mainContainer {
padding: 47px 80px 0px;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
#mainContainer {
padding: 47px 80px 0px;
}
}