﻿body {
font-size:15px !important;
}
.certificate-top {
background-color: <%=colorTop %>;
}

.certificate-row {
background-color: <%=color %>;
}
#panelLec > h2 {
color: white;
font-weight: 800;
display: inline-block;
}

#panelLec > h3{
color: white;
display: inline-block;
}

.panel-primary {
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.panel-heading {
border-radius: 20px 20px 0px 0px;
-moz-border-radius: 20px 20px 0px 0px;
-webkit-border-radius: 20px 20px 0px 0px;
border: 0px solid #000000;
}

.panel-footer {
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
#mainContainer {
padding: 0px 0px 0px;
}
.respuesta-mul {
margin-right:0px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
#mainContainer {
padding: 47px 48px 0px;
}
.respuesta-mul {
margin-right:0px;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
#mainContainer {
padding: 47px 80px 0px;
}
.respuesta-mul {
margin-right:15px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#mainContainer {
padding: 47px 80px 0px;
}
.respuesta-mul {
margin-right:15px;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
#mainContainer {
padding: 47px 80px 0px;
}
.respuesta-mul {
margin-right:15px;
}
}

@keyframes click-wave {
0% {
height: 40px;
width: 40px;
opacity: 0.35;
position: relative;
}

100% {
height: 200px;
width: 200px;
margin-left: -80px;
margin-top: -80px;
opacity: 0;
}
}

.option-input {
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
position: relative;
top: 13.33333px;
right: 0;
bottom: 0;
left: 0;
height: 35px;
width: 35px;
transition: all 0.15s ease-out 0s;
background: #cbd1d8;
border: none;
color: #fff;
cursor: pointer;
display: inline-block;
margin-right: 0.5rem;
outline: none;
position: relative;
z-index: 1000;
}

.option-input:hover {
background: #9faab7;
}

.option-input:checked {
background: #3266b1;
}

.option-input:checked::before {
height: 35px;
width: 35px;
position: absolute;
content: '✔';
display: inline-block;
font-size: 26.66667px;
text-align: center;
line-height: 40px;
}

.option-input:checked::after {
-webkit-animation: click-wave 0.65s;
-moz-animation: click-wave 0.65s;
animation: click-wave 0.65s;
background: #3266b1;
content: '';
display: block;
position: relative;
z-index: 100;
}

.option-input.radio {
border-radius: 50%;
}

.option-input.radio::after {
border-radius: 50%;
}

.drag {
background-color: #3266b1;
border-radius: 25px 25px 25px 25px;
-moz-border-radius: 25px 25px 25px 25px;
-webkit-border-radius: 25px 25px 25px 25px;
border: 0px solid #000000;
cursor: pointer;
padding:4px;
margin-bottom:20px;
z-index: 1000; 
min-height: 80px !important
}

.drag h2 {
color: white !important;
text-align: center;
}

.drop {
background-color: white;
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 2px solid #000000;
border-color: black;
margin-bottom: 20px;
border-style: dashed;
border-width: 4px;
padding: 5px;
min-height:80px !important;
}

.drop h2 {
color: black;
text-align: center;
}

.onoffswitch {
position: relative;
width: 90px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}

.onoffswitch-checkbox {
display: none;
}

.onoffswitch-label {
display: block;
overflow: hidden;
cursor: pointer;
border: 2px solid #999999;
border-radius: 20px;
}

.onoffswitch-inner-v, .onoffswitch-inner-f {
display: block;
width: 200%;
margin-left: -100%;
transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner-v:before, .onoffswitch-inner-v:after, .onoffswitch-inner-f:before, .onoffswitch-inner-f:after {
display: block;
float: left;
width: 50%;
height: 30px;
padding: 0;
line-height: 30px;
font-size: 19px;
color: white;
font-family: Trebuchet, Arial, sans-serif;
font-weight: bold;
box-sizing: border-box;
}

.onoffswitch-inner-v:before {
content: "V";
padding-left: 13px;
background-color: #34C251;
color: #FFFFFF;
}
.onoffswitch-inner-f:before {
content: "F";
padding-left: 13px;
background-color: red;
color: #FFFFFF;
}

.onoffswitch-inner-v:after {
content: "";
padding-right: 13px;
background-color: #EEEEEE;
color: #999999;
text-align: right;
}
.onoffswitch-inner-f:after {
content: "F";
padding-right: 13px;
background-color: #EEEEEE;
color: #999999;
}

.onoffswitch-switch {
display: block;
width: 33px;
margin: 0.5px;
background: #FFFFFF;
position: absolute;
top: 0;
bottom: 0;
right: 56px;
border: 2px solid #999999;
border-radius: 20px;
transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner-v {
margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner-f {
margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
right: 0px;
}

.over {
border-width:6px;
background-color:#CCC;
}
#panelLec2 {
text-align:center
}