﻿.full-width {
    float: left;
    width: 100%;
    margin-top: 30px;
    min-height: 100px;
    position: relative;
}

.form-style-fake {
    position: absolute;
    top: 0px;
}

.form-style-base {
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0;
}

.imgCircle {
    border-radius: 50%;
}

.form-input {
    height: 40px;
    border-radius: 0px;
    /*margin-top: 20px;*/
}

.Profile-input-file {
    height: 180px;
    width: 180px;
    left: 33%;
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0 !important;
}

.mg-auto {
    margin: 0 auto;
    max-width: 200px;
    overflow: hidden;
}

.fake-styled-btn {
    background: #006cad;
    padding: 10px;
    color: #fff;
}

#main-input {
    width: 250px;
}

.input-place {
    position: absolute;
    top: 35px;
    left: 20px;
    font-size: 23px;
    color: gray;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-form {
    float: left;
    position: relative;
    /*background: url("http://lorempixel.com/200/200/abstract/");*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}

.bg-transparent {
    background: rgba(0,0,0,0.5);
    float: left;
    width: 100%;
    margin-top: 0px;
}

.custom-form {
    float: left;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 16px #fff;
    overflow: hidden;
    background: rgba(255,255,255,0.6);
}

.img-section {
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgba(0,0,0,0.3);
    position: relative;
}

    .img-section h4 {
        color: #fff;
    }

#PicUpload {
    color: #ffffff;
    width: 180px;
    height: 180px;
    background: rgba(255,255,255,0.4);
    padding: 100px;
    position: absolute;
    left: 26%;
    border-radius: 50%;
    display: none;
    top: 15px;
}

.camera {
    font-size: 50px;
    color: #333;
}

.custom-btn {
    margin-top: 15px;
    border-radius: 0px;
    padding: 10px 60px;
    margin-bottom: 15px;
}

#checker {
    opacity: 0;
    position: absolute;
    top: 0px;
    cursor: pointer;
}

.color {
    color: #fff;
}

/*====== style for placeholder ========*/

.form-control::-webkit-input-placeholder {
    /*color: lightgray;
    font-size: 18px;*/
}

.form-control:-moz-placeholder {
    /*color: lightgray;
    font-size: 18px;*/
}

.form-control::-moz-placeholder {
    /*color: lightgray;
    font-size: 18px;*/
}

.form-control:-ms-input-placeholder {
    /*color: lightgray;
    font-size: 18px;*/
}

.grad {
    background: #008bff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008bff, #003d90); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008bff, #003d90); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008bff, #003d90); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008bff, #003d90); /* Standard syntax */
    color: white;
    box-shadow: 0px 5px 5px #888888;
    padding: 0.2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

    .grad h4 {
        color: white;
        font-weight: bold;
        margin-left: 1.5em;
    }
