﻿h2 {
    color: #3266b1;
    text-align: center;
}

p {
    font-size: 16px;
}

li.gloss {
    color: #3266b1;
    font-size: large;
}

    li.gloss:hover {
        color: #4cff00;
    }

b {
    color: #3266b1;
}

/*#containerAcercaDe h2 {
            color: #3266b1;
        }*/

#bullebullets li {
    color: #3266b1;
}

#bullebullets p {
    color: #797979;
}

.imagenGrande {
    padding-left: 0px;
    padding-right: 0px;
}
