/*------------------------------------------------------*/
/* RANGE SLIDES CAROUSEL
/*------------------------------------------------------*/

.range_slides_carousel_wrapper {
    padding: 50px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.range_slides_carousel_inner {
    border-radius: 5px;
}
/*---------- CONTROL INDICATORS ----------*/
.range_slides_carousel_indicators {
    bottom: 0px;
    padding-top: 3px;
    padding-bottom: 2px;
}

    .range_slides_carousel_indicators li {
        border: none;
    }

    .range_slides_carousel_indicators .active {
        width: 10px;
        margin: 1px;
        height: 10px;
        border: none;
    }
/*---------- LEFT/RIGHT CONTROL ----------*/
.range_slides_carousel_control_left,
.range_slides_carousel_control_right {
    top: 35%;
    z-index: 2;
    opacity: 0;
    width: 55px;
    height: 55px;
    border: none;
    text-align: center;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.range_slides_carousel_wrapper:hover .range_slides_carousel_control_left,
.range_slides_carousel_wrapper:hover .range_slides_carousel_control_right {
    opacity: 1;
}

.range_slides_carousel_control_icons {
    opacity: 0.8;
    line-height: 55px;
    font-size: 35px !important;
    font-weight: normal !important;
}

.range_slides_carousel_control_left {
    left: 1% !important;
}

.range_slides_carousel_control_right {
    right: 1% !important;
}

.range_adv_left {
    left: 4% !important;
}

.range_adv_right {
    right: 4% !important;
}
/*---------- SLIDES IMAGES ----------*/
.range_slides_item_image {
    padding: 0px;
}

    .range_slides_item_image img {
        width: 100%;
    }

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

/*----------  MEDIA 600px  ----------*/
@media only screen and (max-width: 600px) {
    .range_slides_carousel_wrapper {
        padding: 10px;
    }
    /*---------- CONTROL INDICATORS ----------*/
    .range_slides_carousel_indicators {
        display: none;
    }
    /*---------- LEFT/RIGHT CONTROL ----------*/
    .range_slides_carousel_control_left,
    .range_slides_carousel_control_right {
        width: 25px;
        height: 25px;
    }

    .range_slides_carousel_control_icons {
        line-height: 20px;
        font-size: 16px !important;
    }
}

/*------------------------------------------------------*/
/* COLORS (BLUE)
/*------------------------------------------------------*/

.range_slides_carousel_wrapper {
    background: #42a2ce;
}

.range_slides_carousel_inner {
    border: 4px solid #ffffff;
}
/*---------- CONTROL INDICATORS ----------*/
.range_slides_carousel_indicators li {
    background: #215167;
}

.range_slides_carousel_indicators .active {
    background: #132e3b;
}
/*---------- SLIDES IMAGES ----------*/
.range_slides_item_image img {
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}
/*----------  MEDIA 767px  ----------*/
@media only screen and (max-width: 767px) {
    .range_slides_item_image img {
        border-bottom: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
    }
}
/*---------- LEFT/RIGHT CONTROL ----------*/
.range_slides_carousel_control_left,
.range_slides_carousel_control_left:hover,
.range_slides_carousel_control_left:active,
.range_slides_carousel_control_left:focus,
.range_slides_carousel_control_right,
.range_slides_carousel_control_right:hover,
.range_slides_carousel_control_right:active,
.range_slides_carousel_control_right:focus {
    background: transparent !important;
}

@media only screen and (max-width: 600px) {
    /*---------- SLIDES IMAGES ----------*/
    .range_slides_item_image img {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

    .range_slides_carousel_inner {
        border: 2px solid #ffffff;
    }
}

/*------------------------------------------------------*/
/* THREE SHOWS ONE MOVE
/*------------------------------------------------------*/

.three_shows_one_move .cloneditem-1,
.three_shows_one_move .cloneditem-2 {
    display: none;
}

@media all and (min-width: 768px) {
    .three_shows_one_move .carousel-inner > .active.left,
    .three_shows_one_move .carousel-inner > .prev {
        left: -33.333%;
    }

    .three_shows_one_move .carousel-inner > .active.right,
    .three_shows_one_move .carousel-inner > .next {
        left: 33.333%;
    }

    .three_shows_one_move .carousel-inner > .left,
    .three_shows_one_move .carousel-inner > .prev.right,
    .three_shows_one_move .carousel-inner > .active {
        left: 0;
    }

    .three_shows_one_move .carousel-inner .cloneditem-1,
    .three_shows_one_move .carousel-inner .cloneditem-2 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .three_shows_one_move .carousel-inner > .item.active.right,
    .three_shows_one_move .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }

    .three_shows_one_move .carousel-inner > .item.active.left,
    .three_shows_one_move .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }

        .three_shows_one_move .carousel-inner > .item.left,
        .three_shows_one_move .carousel-inner > .item.prev.right,
        .three_shows_one_move .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
}

@media all and (min-width: 820px) {
    .three_shows_one_move .carousel-inner > .active.left,
    .three_shows_one_move .carousel-inner > .prev {
        left: -33.333%;
    }

    .three_shows_one_move .carousel-inner > .active.right,
    .three_shows_one_move .carousel-inner > .next {
        left: 33.333%;
    }

    .three_shows_one_move .carousel-inner > .left,
    .three_shows_one_move .carousel-inner > .prev.right,
    .three_shows_one_move .carousel-inner > .active {
        left: 0;
    }

    .three_shows_one_move .carousel-inner .cloneditem-2 {
        display: block;
    }
}

@media all and (min-width: 820px) and (transform-3d), all and (min-width: 820px) and (-webkit-transform-3d) {
    .three_shows_one_move .carousel-inner > .item.active.right,
    .three_shows_one_move .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }

    .three_shows_one_move .carousel-inner > .item.active.left,
    .three_shows_one_move .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }

        .three_shows_one_move .carousel-inner > .item.left,
        .three_shows_one_move .carousel-inner > .item.prev.right,
        .three_shows_one_move .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
}

/*----------  END  ----------*/
