﻿html {
    background-color: white;
    background: url(../images/fondos/fondointerior3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    color: #797979;
}

body {
    background-color: transparent;
}

#bg {
    background-image: url(../images/fondos/plecaBlanca.png);
    background-size: 100% 100%;
}

.grad {
    background: #008bff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008bff, #003d90); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008bff, #003d90); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008bff, #003d90); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008bff, #003d90); /* Standard syntax */
    color: white;
    box-shadow: 0px 5px 5px #888888;
    padding: 0.2em;
    margin-top: 4em;
    margin-bottom: 4em;
}

    .grad h4 {
        color: white;
        font-weight: bold;
        margin-left: 1.5em;
    }

.form-control {
    border: 3px solid #E3E3E3;
}

.ht {
    color: #3071b9 !important;
    margin-top: 30px !important;
}

/* ESTILOS NORMALES (para móviles en vertical) */
#div-registro {
    margin-top: 5em;
    margin-bottom: 6em;
}

/* RESPONSIVE */

/* Móviles en horizontal o tablets en vertical*/
@media (min-width: 768px) {
}

/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) {
    #div-registro {
        margin-top: 3em;
        margin-bottom: 5em;
    }
}

/*Escritorios muy anchos*/
@media (min-width: 1200px) {
}


@media only screen and (min-width : 992px) {
    .btnline {
        border-bottom: 1px solid #3071b9 !important;
    }
}


.acomodo {
    padding-left: 20px;
    padding-right: 20px;
}

.h1-regcompleto {
    border: 2px solid #01a75b !important;
    border-radius: 50px 50px 0px 0px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #01a75b;
    color: #fff;
    margin-top: 30px !important;
}

.h3-regcompleto {
    border: 2px solid #3dc482 !important;
    border-radius: 0px 0px 50px 50px;
    margin-top: 0px;
    padding: 10px;
    background-color: #3dc482;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-chrome {
    margin-top: 20px;
    margin-bottom: 50px;
}

.borde-rg {
    border-right: 1px solid #3071b9 !important;
}

.pad {
    padding-left: 40px;
    padding-right: 40px;
}
