﻿p {
    font-size: 16px;
}

li.gloss {
    color: #3266b1;
    font-size: large;
}

    li.gloss:hover {
        color: #4cff00;
    }

#bg {
    background-image: url(../images/fondos/plecaBlanca.png);
    background-size: 100% 100%;
    margin-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em;
}

#boton-aceptar {
    padding-top: 1em;
}

#texto-reglas {
    margin-top: 3em;
}


@media only screen and (min-width : 320px) {
    #texto-reglas {
        margin-top: 0em;
        padding-top: 4em;
    }

    #boton-aceptar {
        padding-bottom: 6em;
    }

    #bg {
        margin-bottom: 0em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #bg {
        margin-bottom: 0em;
        padding-left: 2em;
        padding-right: 2em;
    }

    #texto-reglas {
        margin-top: 0em;
        padding-top: 2em;
    }

    #boton-aceptar {
        padding-bottom: 3em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #bg {
        margin-bottom: 0em;
        padding-left: 2em;
        padding-right: 2em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
