﻿

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }


    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }


    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
         .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }

    }