﻿@media only screen and (min-width : 320px) {
    #filtros {
        font-size: 10px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #filtros {
        font-size: 12px;
    }
}
