﻿.mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
    min-height: 70px !important;
    margin: 50px 0;
}

    .mobile-social-share h3 {
        color: inherit;
        float: left;
        font-size: 15px;
        line-height: 20px;
        margin: 25px 25px 0 25px;
    }

.share-group {
    float: right;
    margin: 18px 25px 0 0;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.btn-group-social {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.btn-twitter {
    background-color: #3399CC !important;
    width: 51px;
    color: #FFFFFF !important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color: #FFFFFF !important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color: #FFFFFF !important;
}

.btn-google {
    background-color: #DD3F34 !important;
    width: 51px;
    color: #FFFFFF !important;
}

.btn-linkedin {
    background-color: #1884BB !important;
    width: 51px;
    color: #FFFFFF !important;
}

.btn-pinterest {
    background-color: #CC1E2D !important;
    width: 51px;
    color: #FFFFFF !important;
}

.btn-mail {
    background-color: #FFC90E !important;
    width: 51px;
    color: #FFFFFF !important;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

#socialShare {
    max-width: 59px;
    margin-bottom: 18px;
}

    #socialShare > a {
        padding: 6px 10px 6px 10px;
    }

.btn-mail:active {
    background-color: #e6b60e !important;
    width: 51px;
    color: #FFFFFF !important;
}

.btn-mail:focus {
    background-color: #e6b60e !important;
    width: 51px;
    color: #FFFFFF !important;
}

#socialHolder {
    margin-top: -50px !important;
}

@media (max-width : 320px) {
    #socialHolder {
        padding-left: 5px;
        padding-right: 5px;
    }

    .mobile-social-share h3 {
        margin-left: 0;
        margin-right: 0;
    }

    #socialShare {
        margin-left: 5px;
        margin-right: 5px;
    }

    .mobile-social-share h3 {
        font-size: 15px;
    }
}

@media (max-width : 238px) {
    .mobile-social-share h3 {
        font-size: 12px;
    }
}
