﻿.logoMerck {
    margin-top: -15px;
}

.imgCircle {
    border-radius: 50%;
}

.navbar-collapse {
    background: #3266b1;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #71b6f9 !important;
    }

.app-search a {
    position: absolute;
    top: 30%;
    right: 30px;
    color: rgba(152, 166, 173, 0.7);
}

#botones-regini {
    margin-top: 1em;
    margin-right: 2px;
    position: absolute;
    right: 0px;
    z-index: 5000;
}

.boton-grande {
    padding: 15px 25px !important;
    font-size: 18px;
}

/*iPhone Vertical*/
@media only screen and (min-width : 320px) {
    .logoMerck {
        max-height: 100px;
    }

    .boton-grande {
        padding: 5px 20px !important;
        font-size: 18px;
    }

    .btn-reg-ini {
        max-width: 120px;
    }

    #navbar {
        margin-top: 50px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #navbar {
        margin-top: 0em;
    }

    .logoMerck {
        max-height: 100px;
    }

    .boton-grande {
        padding: 15px 25px !important;
        font-size: 18px;
    }

    .btn-reg-ini {
        max-width: 120px;
    }
}

/*iPhone Horizontal*/
@media only screen and (width : 667px) {
    .logoMerck {
        max-height: 100px;
    }

    .boton-grande {
        padding: 5px 20px !important;
        font-size: 18px;
    }

    .btn-reg-ini {
        max-width: 120px;
    }

    #navbar {
        margin-top: 2em;
    }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .logoMerck {
        min-height: 65px;
    }

    #pleca {
        min-height: 70px;
    }

    .navbar-right {
        float: right !important;
        margin-right: -25px !important;
    }

    .navbar-collapse {
        background: transparent;
        color: #808080;
    }

    .navbar-default .navbar-nav > li > a {
        margin-top: 0.4em;
        color: #3266b1;
    }

    .app-search .form-control, .app-search .form-control:focus {
        border: 1px solid #3266b1;
        width: 140px;
    }

    .menu-index {
        margin-right: 1em !important;
    }

    .btn-reg-ini {
        max-width: 200px;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

        .btn-reg-ini {
            max-width: 310px;
        }

        .logoMerck {
            min-height: 80px;
        }

        #pleca {
            min-height: 80px;
            /*background: linear-gradient(45deg, #fff 250px, #3266b1 0) bottom left;*/
            background: linear-gradient(45deg, #fff 190px, #3266b1 0) bottom left;
        }

        .navbar-collapse {
            background: transparent;
            color: #fff;
        }

        .menu-index {
            margin-right: 1em !important;
        }

        .navbar-default .navbar-nav > li > a {
            color: #fff;
            margin-top: 10%;
            font-size: large;
        }

        .navbar-form {
            margin-top: 1%;
        }

        .app-search .form-control, .app-search .form-control:focus {
            width: 200px;
        }
    }
}
/* ----------------------------------------------------
	CARGADOR	
------------------------------------------------------- */

#loader {
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    background-color: #ffffff;
    position: fixed;
    display: table;
    width: 100%;
    top: 0;
    height: 100%;
    min-height: 100%;
    z-index: 99999;
}

.loader-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 12;
    text-align: center;
}

.loader {
    margin-top: 20px;
    vertical-align: top;
}

.btn-side-blanco {
    background-color: rgba(255, 255, 255, 1);
}
