﻿.logoMerck {
    margin-top: -15px;
}

.imgCircle {
    border-radius: 50%;
}

.navbar-collapse {
    background: #3266b1;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #71b6f9 !important;
    }

.app-search a {
    position: absolute;
    top: 30%;
    right: 30px;
    color: rgba(152, 166, 173, 0.7);
}

.nav-ipad {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 10;
}

/*iPhone Vertical*/
@media only screen and (min-width : 320px) {
    .logoMerck {
        max-height: 83px;
    }

    #pleca {
        min-height: 90px;
    }

    #navbar {
        margin-top: 35px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .logoMerck {
        max-height: 60px;
    }

    #navbar {
        margin-top: 0px;
    }
}

@media only screen and (width: 667px) {
    .logoMerck {
        max-height: 90px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .navbar-form .form-group {
        margin-right: 20px;
    }

    .navbar-header {
        visibility: visible !important;
    }

    .logoMerck {
        min-height: 65px;
    }

    #pleca {
        min-height: 70px;
    }

    .navbar-right {
        float: right !important;
        margin-right: -25px !important;
    }

    .navbar-collapse {
        background: transparent;
        color: #808080;
    }

    .navbar-default .navbar-nav > li > a {
        margin-top: 0.4em;
        color: #3266b1;
    }

    .app-search .form-control, .app-search .form-control:focus {
        border: 1px solid #3266b1;
        width: 120px;
        padding-right: 0.5em;
    }

    .app-search a {
        right: 50px;
    }

    .menu-index {
        margin-right: 1em !important;
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    }
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .logoMerck {
            min-height: 80px;
        }

        #pleca {
            min-height: 90px;
            background: linear-gradient(45deg, #fff 250px, #3266b1 0) bottom left;
        }

        .navbar-collapse {
            background: transparent;
            color: #fff;
        }

        .menu-index {
            margin-right: 1em !important;
        }

        .navbar-default .navbar-nav > li > a {
            color: #fff;
            margin-top: 10%;
            font-size: large;
        }

        .navbar-form {
            margin-top: 1%;
        }

        .app-search .form-control, .app-search .form-control:focus {
            width: 200px;
        }
    }
}

/* ----------------------------------------------------
	CARGADOR	
------------------------------------------------------- */

#loader {
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    background-color: #ffffff;
    position: fixed;
    display: table;
    width: 100%;
    top: 0;
    height: 100%;
    min-height: 100%;
    z-index: 99999;
}

.loader-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 12;
    text-align: center;
}

.loader {
    margin-top: 20px;
    vertical-align: top;
}

.btn-side-blanco {
    background-color: rgba(255, 255, 255, 1);
}