﻿.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: white;
}

    .breadcrumb-arrow li:first-child a {
        border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
    }

    .breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
        display: inline-block;
        vertical-align: top;
    }

        .breadcrumb-arrow li:not(:first-child) {
            margin-left: -5px;
        }

        .breadcrumb-arrow li + li:before {
            padding: 0;
            content: "";
        }

        .breadcrumb-arrow li span {
            padding: 0 10px;
        }

        .breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
            height: 36px;
            padding: 0 10px 0 25px;
            line-height: 36px;
        }

        .breadcrumb-arrow li:first-child a {
            padding: 0 10px;
        }

        .breadcrumb-arrow li a {
            position: relative;
            color: #fff;
            text-decoration: none;
            background-color: #3bafda;
            border: 1px solid #3bafda;
        }

        .breadcrumb-arrow li:first-child a {
            padding-left: 10px;
        }

        .breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
            position: absolute;
            top: -1px;
            width: 0;
            height: 0;
            content: '';
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
        }

        .breadcrumb-arrow li a:before {
            right: -10px;
            z-index: 3;
            border-left-color: #3bafda;
            border-left-style: solid;
            border-left-width: 11px;
        }

        .breadcrumb-arrow li a:after {
            right: -11px;
            z-index: 2;
            border-left: 11px solid #2494be;
        }

        .breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
            background-color: #4fc1e9;
            border: 1px solid #4fc1e9;
        }

            .breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
                border-left-color: #4fc1e9;
            }

        .breadcrumb-arrow li a:active {
            background-color: #2494be;
            border: 1px solid #2494be;
        }

            .breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
                border-left-color: #2494be;
            }

        .breadcrumb-arrow li span {
            color: #434a54;
        }

.btn {
    font-size: 16px;
}

.vid-frame {
    background-color: white;
    /*height: 600px;*/
}

hr {
    border-top: 1px solid #3266b1;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:focus, .nav-tabs > .active > a:hover {
    /*border: 2px solid #3266b1 !important;*/
    border-bottom-color: transparent !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #bdbdbd;
    color: white;
}

.tab-content {
    /*border: 2px solid #3266b1;*/
    max-height: 500px;
}

.progress {
    margin-bottom: 0px !important;
    height: 25px;
    margin-top: 15px;
}

.progress-bar {
    box-shadow: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}

#filters > a > img {
    width: 11%;
}



/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 767px) {
    .scroll-tabs {
        max-height: 310px;
        margin-top: -14px;
    }

    .tab-content {
        max-height: 332px;
    }

    .btn-menu-right {
        font-size: 8px;
    }

    .h3, h3 {
        font-size: 22px;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1799px) {
    .nav-tabs a {
        font-size: 20px;
    }

    .tabs-menu {
        min-height: 58px;
    }

    #contenidoFrame {
        width: 100%;
    }
}

/* Wide Screen / Carlos R */
@media only screen and (min-width : 1800px) {
    .tabs-menu {
        min-height: 66px;
    }

    #contenidoFrame {
        width: 100%;
    }
}

/*Carlos R only*/
@media only screen and (min-width : 1800px) and (max-width : 1920px) {
    #contenidoFrame {;
        width: 100%;
    }
}
