﻿  .nav-colors {
            border-bottom: none;
        }

            .nav-colors a {
                background-color: <%=color %> !important;
                border: 2px solid <%=color%> !important;
            }

            .nav-colors > .active > a,
            .nav-colors > .active > a:focus,
            .nav-colors > .active > a:hover {
                border: 2px solid <%=color %> !important;
                border-bottom-color: <%=color %> !important;
                border-top-color: <%=color %> !important;
                border-left-color: <%=color %> !important;
                border-right-color: <%=color %> !important;
                background-color: <%=color %>;
            }

        h2 {
            color: <%=color %>;
        }

        .certificate-row {
            background-color: <%=color %>;
        }

        .font-600 {
            font-size: x-large;
        }

        .progress {
            border-radius: 0px;
            height: 30px;
        }

        .progress-bar {
            box-shadow: none;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 1.2em;
        }

        .nav-tabs a {
            color: #6fd7e6;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            color: #ffffff;
        }

        .card-box {
            min-height: 100px !important;
        }

        .grad {
            background: #008bff; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#008bff, #003d90); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#008bff, #003d90); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#008bff, #003d90); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#008bff, #003d90); /* Standard syntax */
            color: white;
            margin-top: 2em;
            margin-bottom: 2em;
            box-shadow: 0px 5px 5px #888888;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

            .grad h2 {
                color: white;
                font-weight: bold;
            }