@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iprpp4');
  src:  url('fonts/icomoon.eot?iprpp4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iprpp4') format('truetype'),
    url('fonts/icomoon.woff?iprpp4') format('woff'),
    url('fonts/icomoon.svg?iprpp4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avales:before {
  content: "\e900";
}
.icon-bancoImagenes:before {
  content: "\e901";
}
.icon-bibliografia:before {
  content: "\e902";
}
.icon-chat:before {
  content: "\e903";
}
.icon-cursoscertificacion:before {
  content: "\e904";
}
.icon-eBooks:before {
  content: "\e905";
}
.icon-Elsevier:before {
  content: "\e906";
}
.icon-interactivos:before {
  content: "\e907";
}
.icon-medicinaGeneral:before {
  content: "\e908";
}
.icon-medicinaInterna:before {
  content: "\e909";
}
.icon-odontologia:before {
  content: "\e90a";
}
.icon-ortopedia:before {
  content: "\e90b";
}
.icon-profesores:before {
  content: "\e90c";
}
.icon-revisioDelMes:before {
  content: "\e90d";
}
.icon-videoCirugias:before {
  content: "\e90e";
}
.icon-glosario:before {
  content: "\e90f";
}
.icon-cadera:before {
  content: "\e910";
}
.icon-rodilla:before {
  content: "\e911";
}
.icon-cespeciales:before {
  content: "\e912";
}
.icon-libros .path1:before {
  content: "\e913";
  color: rgb(255, 255, 255);
}
.icon-libros .path2:before {
  content: "\e914";
  margin-left: -1.3740234375em;
  color: rgb(18, 16, 11);
}
.icon-tobillo:before {
  content: "\e915";
}
.icon-atomo:before {
  content: "\e97a";
}
.icon-escudo:before {
  content: "\e97b";
}
.icon-colum:before {
  content: "\e920";
}
.icon-algos:before {
  content: "\e921";
}
.icon-tpm:before {
  content: "\e922";
}
.icon-vitaminas:before {
  content: "\e923";
}
.icon-vision:before {
  content: "\e924";
}
.icon-mission:before {
  content: "\e92e";
}
.icon-cursos:before {
  content: "\e916";
}
.icon-chat_room:before {
  content: "\e917";
}
.icon-lecturaguiada-02:before {
  content: "\e918";
}
.icon-lecturaguiada-01:before {
  content: "\e919";
}
.icon-tarea:before {
  content: "\e91a";
}
.icon-columna-01:before {
  content: "\e91b";
}
.icon-columna-02:before {
  content: "\e91c";
}
.icon-pie:before {
  content: "\e91d";
}
.icon-mano:before {
  content: "\e91e";
}
.icon-hombro:before {
  content: "\e91f";
}
.icon-tronco_comun_mod1:before {
  content: "\e925";
}
.icon-tronco_comun_mod2:before {
  content: "\e926";
}
.icon-tronco_comun_mod3:before {
  content: "\e927";
}
.icon-medGral-mod1:before {
  content: "\e928";
}
.icon-medGral-mod2:before {
  content: "\e929";
}
.icon-medGral-mod3:before {
  content: "\e92a";
}
.icon-medGral-mod4:before {
  content: "\e92b";
}
.icon-medGral-mod5:before {
  content: "\e92c";
}
.icon-medGral-mod6:before {
  content: "\e92d";
}
.icon-medGral-mod7:before {
  content: "\e92f";
}
.icon-medGral-mod8:before {
  content: "\e930";
}
.icon-medGral-mod9:before {
  content: "\e931";
}
.icon-medGral-mod10:before {
  content: "\e932";
}
.icon-medicinaInterna-mod1:before {
  content: "\e933";
}
.icon-medicinaInterna-mod2:before {
  content: "\e934";
}
.icon-medicinaInterna-mod3:before {
  content: "\e935";
}
.icon-medicinaInterna-mod4:before {
  content: "\e936";
}
.icon-medicinaInterna-mod5:before {
  content: "\e937";
}
.icon-medicinaInterna-mod6:before {
  content: "\e938";
}
.icon-medicinaInterna-mod7:before {
  content: "\e939";
}
.icon-medicinaInterna-mod8:before {
  content: "\e93a";
}
.icon-medicinaInterna-mod9:before {
  content: "\e93b";
}
.icon-ortopedia-mod1:before {
  content: "\e93c";
}
.icon-ortopedia-mod2:before {
  content: "\e93d";
}
.icon-ortopedia-mod3:before {
  content: "\e93e";
}
.icon-ortopedia-mod4:before {
  content: "\e93f";
}
.icon-ortopedia-mod5:before {
  content: "\e940";
}
.icon-ortopedia-mod6:before {
  content: "\e941";
}
.icon-ortopedia-mod7:before {
  content: "\e942";
}
.icon-ortopedia-mod8:before {
  content: "\e943";
}
.icon-ortopedia-mod9:before {
  content: "\e944";
}
.icon-ortopedia-mod11:before {
  content: "\e945";
}
.icon-ortopedia-mod10:before {
  content: "\e946";
}
.icon-ortopedia-mod12:before {
  content: "\e947";
}
.icon-ortopedia-mod13:before {
  content: "\e948";
}
.icon-ortopedia-mod14:before {
  content: "\e949";
}
.icon-ortopedia-mod15:before {
  content: "\e94a";
}
.icon-ortopedia-mod16:before {
  content: "\e94b";
}
.icon-odontologia-mod1:before {
  content: "\e94c";
}
.icon-odontologia-mod2:before {
  content: "\e94d";
}
