﻿.boxshadow {
border-width: 3px;
border-style: solid;
-webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#3266b1), to(rgba(0, 0, 0, 0))) 1 100%;
-webkit-border-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,252,252,0)), color-stop(50%, rgba(50,103,177,1)), color-stop(100%, rgba(255,255,255,0)));
-moz-border-image: -moz-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(50,103,177,1) 50%, rgba(255,255,255,0) 100%);
-o-border-image: -o-linear-gradient(left, rgba(252,252,252,0) 0%, rgba(50,103,177,1) 75%, rgba(255,255,255,0) 100%);
border-image: linear-gradient(to top, rgba(0, 0, 0, 0) 20%, #3266b1 50%, rgba(0, 0, 0, 0)) 1 100%;
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
}

.boxshadow h5 {
color: #3266b1;
}

.btn-closed-menu {
margin-left: 120px;
}

.btn-closed-menu-ini {
margin-left: 40px;
}

.btn-open-menu {
margin-left: 40px;
}

.btn-side-blanco {
background-color: rgba(255, 255, 255, 1);
}

.open-switch {
top: 130px;
left: 248px;
position: fixed;
z-index: 15;
padding: 15px;
margin-left: 0px;
}

.closed-switch {
margin-left: 0px;
top: 130px;
left: 0px;
position: fixed;
z-index: 15;
padding: 15px;
}

.btn-switch {
padding: 10px;
font-size: 1em;
}
