@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?knm87v');
  src:  url('fonts/icomoon.eot?knm87v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?knm87v') format('truetype'),
    url('fonts/icomoon.woff?knm87v') format('woff'),
    url('fonts/icomoon.svg?knm87v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avales:before {
  content: "\e900";
}
.icon-bancoImagenes:before {
  content: "\e901";
}
.icon-bibliografia:before {
  content: "\e902";
}
.icon-chat:before {
  content: "\e903";
}
.icon-cursoscertificacion:before {
  content: "\e904";
}
.icon-eBooks:before {
  content: "\e905";
}
.icon-Elsevier:before {
  content: "\e906";
}
.icon-interactivos:before {
  content: "\e907";
}
.icon-medicinaGeneral:before {
  content: "\e908";
}
.icon-medicinaInterna:before {
  content: "\e909";
}
.icon-odontologia:before {
  content: "\e90a";
}
.icon-ortopedia:before {
  content: "\e90b";
}
.icon-profesores:before {
  content: "\e90c";
}
.icon-revisioDelMes:before {
  content: "\e90d";
}
.icon-videoCirugias:before {
  content: "\e90e";
}
.icon-glosario:before {
  content: "\e90f";
}
.icon-cadera:before {
  content: "\e910";
}
.icon-rodilla:before {
  content: "\e911";
}
.icon-cespeciales:before {
  content: "\e912";
}
.icon-libros .path1:before {
  content: "\e913";
  color: rgb(255, 255, 255);
}
.icon-libros .path2:before {
  content: "\e914";
  margin-left: -1.3740234375em;
  color: rgb(18, 16, 11);
}
.icon-tobillo:before {
  content: "\e915";
}
.icon-atomo:before {
  content: "\e97a";
}
.icon-escudo:before {
  content: "\e97b";
}
.icon-colum:before {
  content: "\e920";
}
.icon-algos:before {
  content: "\e921";
}
.icon-tpm:before {
  content: "\e922";
}
.icon-vitaminas:before {
  content: "\e923";
}
.icon-vision:before {
  content: "\e924";
}
.icon-mission:before {
  content: "\e92e";
}
.icon-cursos:before {
  content: "\e916";
}
.icon-chat_room:before {
  content: "\e917";
}
.icon-lecturaguiada-02:before {
  content: "\e918";
}
.icon-lecturaguiada-01:before {
  content: "\e919";
}
.icon-tarea:before {
  content: "\e91a";
}
.icon-columna-01:before {
  content: "\e91b";
}
.icon-columna-02:before {
  content: "\e91c";
}
.icon-pie:before {
  content: "\e91d";
}
.icon-mano:before {
  content: "\e91e";
}
.icon-hombro:before {
  content: "\e91f";
}
