﻿#contenido-rel {
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    background-color: #fff;
    position: fixed;
    display: table;
    width: 100%;
    top: 0;
    height: 100%;
    min-height: 100%;
    z-index: 99999;
    background-color: #fff;
}

.contenido-rel-container {
    position: relative;
    display: table-cell;
    /*vertical-align: middle;*/
    z-index: 12;
    /*text-align: center;*/
}

#loader {
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    background-color: #fff;
    position: fixed;
    display: table;
    width: 100%;
    top: 0;
    height: 100%;
    min-height: 100%;
    z-index: 99999;
}

.loader-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 12;
    text-align: center;
}

.dross {
    border-top: 2px solid #3266b1;
    border: 0;
    border-top: 1px solid #eee;
}

.strong-look {
    font-weight: bold !important;
    font-size: 25px !important;
    color: #1a6cb0;
}

.btn-bordred {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 57.6215px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 83.941px 28.8021px;
    transform-origin: 83.941px 28.8021px;
    user-select: none;
    caret-color: rgb(51, 51, 51);
    background: rgb(218, 230, 236) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0.989583px solid rgba(218, 230, 236, 0.5);
    border-right: 0.989583px solid rgba(218, 230, 236, 0.5);
    border-bottom: 1.99653px solid rgb(194, 214, 224);
    border-left: 0.989583px solid rgba(218, 230, 236, 0.5);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 400 normal 16px / 22.8571px Verdana, Geneva, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 6px 14px;
}
/*#A_1*/

.fa-stack {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    height: 42.6563px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 42.6563px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 21.3194px 21.3194px;
    transform-origin: 21.3194px 21.3194px;
    user-select: none;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 21.3333px / 42.6667px Verdana, Geneva, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}
/*.fa-stack*/

.fa-stack-2x {
    bottom: 0.434028px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    height: 42.2222px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    white-space: nowrap;
    width: 42.6563px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 21.3194px 21.1111px;
    transform-origin: 21.3194px 21.1111px;
    user-select: none;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    outline: rgb(51, 51, 51) none 0px;
}
    /*.fa-stack-2x*/

    .fa-stack-2x:before {
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        content: '""';
        cursor: pointer;
        text-align: center;
        text-decoration: none solid rgb(51, 51, 51);
        text-size-adjust: 100%;
        white-space: nowrap;
        column-rule-color: rgb(51, 51, 51);
        perspective-origin: 0px 0px;
        transform-origin: 0px 0px;
        user-select: none;
        caret-color: rgb(51, 51, 51);
        border: 0px none rgb(51, 51, 51);
        outline: rgb(51, 51, 51) none 0px;
    }
/*.fa-stack-2x:before*/

.fa-stack-1x {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: -1px;
    top: -10px;
    display: block;
    height: 21.1111px;
    left: 0px;
    position: absolute;
    right: 0px;
    speak: none;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    white-space: nowrap;
    width: 42.6563px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 21.3194px 10.5556px;
    transform-origin: 21.3194px 10.5556px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    margin: 10px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}
    /*.fa-stack-1x*/

    .fa-stack-1x:before {
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        content: '""';
        cursor: pointer;
        speak: none;
        margin-top: -1px;
        text-align: center;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        white-space: nowrap;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 0px 0px;
        transform-origin: 0px 0px;
        user-select: none;
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        outline: rgb(255, 255, 255) none 0px;
    }
/*.fa-stack-1x:before*/

.btn-bordred.btn-default {
    background-color: #dae6ec;
    border-bottom: 2px solid #c2d6e0 !important;
}
